* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 90%;
  margin-left: 5%;
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 6px;
  border: 3px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #357ab7;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease;
}
